<!-- <table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">Email</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table> -->
<!-- <li *ngFor="item of persondata"> -->
	<li>{{persondata.userId}}</li>
	<li>{{persondata.id}}</li>
	<li>{{persondata.title}}</li>
	<li>{{persondata.body}}</li>
	
	
  